@use 'sass:math';

.flex {
  display: block;

  @include mq() {
    display: flex;
    flex-wrap: wrap;
  }

  $grid: 12;
  @for $i from 1 to $grid {
    &__item--#{$i} {
      flex: 0 0 math.div($i, $grid);
      min-width: math.div($i, $grid);
    }
  }
}
