.group {
  margin: 0.2em;
  padding: 0;
  overflow: scroll;
  height: 65vh;
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE, Edge 対応 */
  scrollbar-width: none; /* Firefox 対応 */

  &::-webkit-scrollbar {
    /* Chrome, Safari 対応 */
    display: none;
  }

  &__item {
    list-style: none;
    margin: 0;
  }

  %__link {
    display: inline-block;
    padding: 0.75em;
    width: 100%;
    border-radius: 10px;
    text-decoration: none;
  }

  &__link {
    @extend %__link;
    color: #333333;

    &:hover {
      color: #333333;
    }
  }

  &__link--is-active {
    @extend %__link;
    font-weight: bold;
    background: #3fb455;
    color: #f2f2f2;

    &:hover {
      color: #f2f2f2;
    }
  }
}
