.message {
  overflow: scroll;
  height: 65vh;
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE, Edge 対応 */
  scrollbar-width: none; /* Firefox 対応 */

  &::-webkit-scrollbar {
    /* Chrome, Safari 対応 */
    display: none;
  }

  &__item {
    padding-top: 0.5em;
    border-top: 1px solid #cccccc;
  }
}
