.role {
  %__badge {
    border: 1px solid #ccc;
    font-weight: 400;
    padding: 0px 8px;
    color: #fff;
    vertical-align: top;
    font-size: 70%;
    text-align: center;
    display: inline-block;
    border-radius: 3px;
    margin-right: 2px;
    line-height: 16px;
  }
  &__badge {
    @extend %__badge;
    background: #777;
  }

  &__badge--staff {
    @extend %__badge;
    background: rgb(79, 209, 54);
  }

  &__badge--admin {
    @extend %__badge;
    background: rgb(28, 54, 202);
  }

  &__badge--super-user {
    @extend %__badge;
    background: rgb(181, 22, 196);
  }
}
